<mat-toolbar color="primary">  
  <h1>  
 Seville Dental Clinic 
  </h1>  
     <button mat-button routerLink=""></button>  
     <button mat-button routerLink="/">Home</button>  
     <button mat-button routerLink="/about">Services</button>
     <button mat-button routerLink="/">Our Patients</button>  
     <button mat-button routerLink="/">Career</button>  
     <button mat-button routerLink="/">FAQ</button>  
     <button mat-button routerLink="/">Contact</button>  
     <button mat-button routerLink="/login">Login</button>
   

    
    
     </mat-toolbar>
     
     <router-outlet></router-outlet>